.line-center {
  margin: auto;
  width: 30%;
  padding: 10px;
}
.adopt-list {
  list-style-type: none;
}

.line-header {
  font-family: 'Staatliches', cursive;
}

li {
  font-family: 'Montserrat', sans-serif;
}